<h1>All Departments</h1>

<% @departments.each do |department| %>
	<div id=<%= department.id %> >
		<h3><%= department.name %></h3>
		<p>Floor: <%= department.floor %></p>
		<% department.employees.each do |employee| %>
			<h5><%= employee.name %></h5>
			<p>Level: <%= employee.level %></p>
		<% end %>
	</div>
<% end %>