<% @departments.each do |department| %>
	<div id=<%= department.id %> >
		<p><%= department.name %></p>
		<p>Floor: <%= department.floor %></p>
		<% department.employees.each do |employee| %>
			<p><%= employee.name %></p>
			<p>Level: <%= employee.level %></p>
		<% end %>
	</div>
<% end %>